
# design
RewriteEngine On
RewriteBase /jquery-stickyNavigator/
RewriteCond %{REQUEST_URI} !/jquery-stickyNavigator/dist
RewriteCond %{REQUEST_URI} !/jquery-stickyNavigator/git-hook.php
RewriteRule ^(.*)$ dist/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jquery-stickyNavigator/ [L,R=301]

